// 
@include thumbBar();

body {
    color: #f0f0f0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 42px;
    letter-spacing: 10px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-shadow: 0 0 1vh #000;
    overflow: auto;
    background: #000;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#container {
    user-select: none;
    padding: 0 15px;
    z-index: 1;
    mix-blend-mode: difference;
}

ul {
    max-width: 640px;
}

li {
    font-size: 16px;
    color: #aaa;
    line-height: 2;
    display: inline-block;
}
li + li{
    &:before {
        content: ' / ';
    }
}

#lastWordElement {
    line-height: 4;
    text-transform: none;
    font-size: 14px;
    color: #aaa;
}
